<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.sly.instafollowup-followers</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>-e</string>
    <string>require('child_process').execFileSync('/opt/homebrew/bin/python3',['/Users/djsly/instaFollowUp/engine/followers.py'],{stdio:'inherit'})</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/Users/djsly/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key><string>/Users/djsly</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>40</integer></dict>
  <key>StandardOutPath</key><string>/tmp/instafollowup-followers.log</string>
  <key>StandardErrorPath</key><string>/tmp/instafollowup-followers.log</string>
</dict>
</plist>
